/************* struttura *************/
.clearfix{
    display: block;
    content: "";
    clear: both;
}

 .upgrade{
    height: 100px;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 25px;
    background-color:rgba(0, 0, 0, 0.609);
    position: sticky;
    top: 0;
    z-index: 1;
}
 
.nav{
    background-color: rgb(0, 0, 0);
    height: calc(100vh - 100px);
    width: 200px;
    flex-wrap: nowrap;
    position: relative;
   
}

.video{
    background-color: rgb(20, 25, 34);
    height: calc(100vh - 100px);
    width: calc(100% - 200px);
    float:left;
    margin-bottom: 100px;
    padding-right: 0;
    overflow-y: auto;
    overflow-x: hidden;

}

.controll{
    background-color: rgb(40, 40, 40);
    height: 100px;
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 1;
}
/*************** /struttura **************/




/*************** navbar **************/

.logo{
    width: 140px;
    margin: 20px 0px
}

.home{
    color: white;
    border-left: 2px solid rgba(173, 255, 47, 1);
}

.nav *:not(.playlist,.icon,.download,.download a,.cerchio,.icon_small,.utente,.icon_medium,.logo,.utente a,.logo_small,.logo_small img){
    padding:0 10px;
}

.icon{
    width: 30px;
    padding: 3px;
}

.icon_small{
    width: 15px;
    margin: 10px 10px 10px 0;
}

.add{
    width: 35px;
    height: 35px;
    background-color: rgba(193, 193, 193, 1);  
    margin: 10px 0px 10px 0;  
}


.lnk{
    color: rgba(108, 108, 108, 1); 
    font-size: 0.9rem;
    font-weight: 500;
    margin: 5px 0;
} 

.lnk:hover{
    color: white;
    text-decoration: none;
}

.utente a{
    text-decoration: none;
    font-weight: 600;
}

.add:hover{
    background-color: white;
}

.nav h5{
    margin: 20px 0px 0px;
    font-size: 1rem;
}

.cerchio{
    width: 23px;
    height: 23px;
    border-radius: 50%;
    background-color: rgba(108, 108, 108, 1);
    margin-right: 10px;
}

.icon_medium{
    width: 15px;
}

.utente{
    border-top: 1px solid rgba(108, 108, 108, 1);
    padding: 10px 0;
}

.playlist{
    overflow-y: auto;
    flex-grow: 1;
}

.playlist>a{
    display: inline-block;
}

.logo_small{
    display: none;
    width: 35px;
}

@media screen and (max-width:575px) {

    .nav{
        width: 60px;
        align-items: center;
    }
    .logo{
        display: none;
    }
    .logo_small{
        display: block;
    }
    .nav img{
        margin:10px 0;
    }
    .crea{
        display: none!important;
    }
    .lnk{
        display: none;
    }
    .nav h5{
        display: none;
    }
    .playlist{
        display: none;
    }
    .nav a{
        display: none;
    }
    .cerchio{
        margin: 0;
    }
    .nav_bottom{
        position: absolute;
        bottom: 10px;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .nav{
        width: 200px;
    }
}

/***************** /navbar ************/




/************* upgrade ****************/
.upg{
    border: 1px solid white;
    padding: 10px 50px;
    font-size: 1rem;
    font-weight: 500;

}

.upg:hover{
    padding: 11px 51px;
    font-size: 1.1rem;
}

.space{
    height: 100px;
    width: calc(100% - 200px);
}

@media screen and (max-width:575px) {

    .upgrade{
    width: calc(100% - 60px);
    padding: 0px 5px;
    height: 80px;
    }

    .btn{
    padding: 7px 35px;
    font-size: 0.8rem;
    font-weight: 600;
    }

}

@media screen and (min-width:576px) and (max-width:767px){
    .upgrade{
        width: calc(100% - 200px);
        padding: 0 5px;
        height: 90px;
    }

    .upg{
        padding: 7px 30px;
        font-size: 0.8rem;
    }
   
}

/************* /upgrade **************/



/************** video ************/
.container-fluid{
    padding-left: 0;
}

.container{
    padding: 0;
}

.menu{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}

.menu a{
    color: gray;
    font-size: 1rem;
    font-weight: 500;
    padding: 20px;
}

.menu a:hover{
    text-decoration: none;
    color: white;
    cursor: pointer;
}

.menu a:first-child::after{
    content: "";
    width: 35px;
    display: block;
    margin: auto;
    border-bottom: 2px solid rgba(173, 255, 47, 1);
}

.consigliati,
.popolari,
.recenti{
    margin:25px 10px;
}

.video span{
    font-weight: 600;
}

.row{
    margin: 10px;
}

.cards{
    width: 250px;
    padding-left: 5px;
    padding-right: 5px;
    cursor: pointer;
    margin-bottom: 30px;
}

.card_img{
    width: 100%;
    position: relative;
}

.play{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card_img img{
    width: 100%;
}

.play i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    color:transparent;
}

.card_bottom{
    width: 100%;
    text-align: center;
    color: white;
}

.card_bottom h4{
    font-size: 1.3rem;
    font-weight: 700;
    margin-top: 20px;
}

.card_bottom span{
    color: gray;
    font-weight: 500;
}

.tondo img,
.tondo .play{
    border-radius: 50%;
}

.cards:hover .play{
    background-color: rgba(0, 0, 0, 0.527);
}

.cards:hover  i{
 color: white;
}

@media screen and (max-width:575px) {

    .video{
    width: calc(100% - 60px);
    }
    .video h2{
        font-size: 1.3rem;
        margin-bottom: 0px;
    }
    .video h4{
        font-size: 1rem;
    }
    .video span{
        font-size: 0.8rem;
    }
    .cards{
        margin-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .menu a{
        font-size: 0.8rem;
    }

    .video{
        padding-top: 100px;
    }

}

@media screen and (min-width:576px) and (max-width:767px) {
    .video{
        width: calc(100% - 200px);
    }
    .video h2{
        font-size: 1.5rem;
    }
    .recenti,
    .consigliati,
    .popolari{
        margin: 15px 10px;
    }

    .video h4{
        font-size: 1rem;
        margin-top: 10px;
    }
    .card_bottom span{
        font-size: 13px;
    }

    .cards{
        margin-bottom: 5px;
    }

    .video{
        padding-top: 100px;
    }

}

@media screen and (min-width:768px) and (max-width:991px) {
    .video h2{
        font-size: 1.5rem;
    }
}


/************** /video *************/



/************** controll ***********/

/* controll left */
.controll img{
    width: 50px;
    margin: 20px 10px 20px 5px;
}

.controll h5{
    margin: 0px;
    font-size: 1rem;
}
.controll span{
    color: gray;
    font-size: 0.8rem;
    font-weight: 600;
}

.cartella{
    color: gray;
    margin:0 25px;
}
.cartella i{
    margin: 5px;
}

.controll_left i:hover,span:hover{
    color: white;
    cursor: pointer;
}

/* /controll left */

/* controll center */
.controll_center{
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row{
    padding: 0px;
    margin: 0px 10px;
}


.top{
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}

.bottom{
    width: 100%;
    justify-content: center;
    align-items: center;
}

.contr_small{
    width: 40px;
    font-size: 1.1rem;
    text-align: center;
    cursor: pointer;
}

.contr_medium{
    width: 30px;
    font-size: 1.5rem;
    text-align: center;
    cursor: pointer;
}

.contr_big{
    font-size: 2rem;
    width: 54px;
    height: 30px;
    justify-content: center;
    align-items: center;
}    

.barra{
    width: 300px;
    height: 4px;
    background-color: gray;
    border-radius: 4px;
    position: relative;
    cursor: pointer;
    align-items: center;
}

.progresso{
    width: 60px;
    height: 100%;
    border-radius: 4px;
    position: absolute;
    top: 0;
    background-color: white;
}

.cursore{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    justify-content: flex-end;
    align-items: center;
}

.pallino{
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.tempo{
    padding: 0 20px;
    font-size: 10px;
}

.progresso:hover .cursore{
    background-color:rgba(173, 255, 47, 1);

}

.progresso:hover .pallino{
    background-color: white;

}

.contr_big:hover{
    font-size: 2.2rem;
    cursor: pointer;
}

.controll_left,
.controll_center,
.controll_right{
    padding: 5px;
}


@media screen and (max-width:575px) {
    .barra{
        width: 100px;
    }
    .progresso{
        width: 20px;
    }
    .tempo{
        padding:0 10px;
    }
    .contr_medium{
        width: 20px;
    }
    .controll_center .contr_small{
        font-size: 1.1rem;
    }
    .controll img{
    width: 40px;
    margin: 20px 10px 20px 0px;
    }
    .controll h5{
        margin: 0px;
        font-size: 0.8rem;
    }
    .controll span{
        color: gray;
        font-size: 0.7rem;
        font-weight: 600;
    }

}

@media screen and (min-width:576px) and (max-width:767px) {

    .contr_small{
        width: 35px;
    }
    .contr_medium{
        width: 25px;
    }
    .controll_right>.barra{
        width: 35%;
    }
    .tempo{
        padding:0 5px;
    }
    .barra{
        width: 125px;
    }
}

@media screen and (min-width:768px) and (max-width:991px) {
    
    .barra{
        width: 75%;
    }
    .tempo{
        padding: 0 5px;
    }
}

@media screen and (min-width:992px){
    
    .tempo{
        padding: 0 5px;
    }

    .barra{
        width: 80%;
    }
}
/* /controll center */



/* controll right */
.controll_right{
    justify-content: flex-end;
    align-items: center;
}

.controll_right>.barra{
    width: 20%;
}

.controll_right .progresso{
    width: 30%;
}

.controll_right i{
    font-size: 0.9rem;
}

@media screen and (max-width:575px) {
    .controll_right{
        justify-content: center;
    }

    .controll_right>.barra{
        width: 50%;
    }

    .controll_right i{
        width: 30px;
    }
    
}

@media screen and (min-width:576px) and (max-width:768px) {
    .controll_right>.barra{
        width: 40%;
    }
}
/* /controll right */